@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  background-color: #09090b;
}
